.player {
  min-height: 12vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .time-control {
    width: 50%;
    display: flex;

    
    @media screen and (max-width: 768px) {
        width: 90%;
    }

    .track {
      background: lightblue;
      width: 100%;
      height: 1rem;
      position: relative;
      border-radius: 1rem;
      overflow: hidden;

      input {
        width: 100%;
        appearance: none;
        background: transparent;
        cursor: pointer;
      }

      .animate-track {
        background: rgb(204,204,204);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 1rem;
        transform: translateX(0%);
        pointer-events: none;
      }
    }
      
    p {
      padding: 0 1rem;
      color: rgba(230,230,230, .8);
    }
  }

  .play-control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 30%;

    @media screen and (max-width: 768px) {
      width: 60%;
    }

    svg {
      cursor: pointer;
      color: rgba(230,230,230, .8);
    }
  }
}

input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 16px;
  width: 16px;
}

input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
} 