.song-container {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;

  .cover {
    width: 30%;
    max-width: 500px;
    position: relative;
    opacity: 1;

    @media screen and (max-width: 768px) {
      width: 60%;
      max-width: 350px;
    }
    
    &.fade {
      animation: fade-in-out 1.5s forwards;

      @keyframes fade-in-out {
        0% {
          opacity: 0;
        } 50% {
          opacity: 0;
        } 100% {
          opacity: 1;
        }
      }
    }

    img {
      width: 100%;
      border-radius: 50%;
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 15%;
      height: 15%;
      border-radius: 50%;
      background-color: var(--color);
      transition: background 1s ease;
      z-index: 2;
    }
  }
  
  h2 {
    padding: 1rem;
    color: rgba(230,230,230, .8);
  }

  h3 {
    font-size: 1rem;
    color: rgba(230,230,230, .8);
  }
}